<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Node.js (Express.js) & JWT Auth</h2>
    <h3>By S.P</h3>
    <a href="/smoothies" class="btn">View More</a>
  </div>
</header>


<%- include('partials/footer'); -%>